// Define variables for your color scheme
$bege: #f7a072;
$azul-only: #b5e2fa;
$azul-flats: #3772ff;
$fundo: #f9f7f3;

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
