<div class="container">
<p style="color: green"><%= notice %></p>

<h1>All Flats</h1>

<%= link_to "New flat!", new_flat_path, class:"btn-show-this-flat"%>

<div id="flats">
    <% @flats.each do |flat| %>
  <div>
    <%= render flat %>
    <%= link_to "Show this flat", flat, class:"btn-show-this-flat"%>
  </div>
    <% end %>
</div>

</div>
