<div class="container">
  <div id="bookings">
    <% @bookings.each do |booking| %>
      <div class="card-trip">
        <%= cl_image_tag booking.flat.photo.key, height: 400, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2><%= booking.flat.title %></h2>
          </div>
          <h2 class="card-trip-pricing">$ <%= booking.flat.price %></h2>
          <h2><%= booking.booking_date %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
