<h1>Choose your dates now</h1>

<%= link_to "Confirm", confirmation_path, class: "back-home profile-button btn btn-primary btn-lg my-auto"%>
<%= link_to "Choose another flat", flats_path, class: "profile-button btn btn-primary btn-lg my-auto" %>
