<h1>Congratulations! Reservation Successfully Made!</h1>
<div class="button-back">

<%= link_to "Back to Home", profile_path, class: "back-home profile-button btn btn-primary btn-lg my-auto"%>

</div>
