
<div class="action">

 <%= link_to "Create a Flat", new_flat_path, class: "profile-button btn btn-primary btn-lg my-auto" %>
 <%= link_to "Book a Flat", flats_path, class: "profile-button btn btn-primary btn-lg my-auto" %>
 <%= link_to "See my Reservations", all_bookings_path, class: "profile-button btn btn-primary btn-lg my-auto" %>

</div>
