.navbar-lewagon {
  justify-content: space-between;
  background: #b5e2fa;
}

.navbar-lewagon .navbar-brand {
  display: flex;
  justify-content: space-between;
}

.navbar-lewagon .navbar-brand p {
  margin-top: 3px;
  margin-bottom: 1rem;
  margin-left: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  background-color: none;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
